
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none;
    border-radius: 8px;
    background-color: aqua;
    width: 30%;
    height: 250px;
}

.item {
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
}

.botao {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.itens {
    border-radius: 8px;
    width:100%;
    background-color:blue;
    color:white
}

.itens:hover{
    background-color:burlywood;
    color:black;
}
