@rendermode InteractiveServer

<div class="modal shadow-lg" id="CaixaMensagem" tabindex="-1" style="display:@Mostra">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color:azure">
            <div class="modal-header">
                <div class="modal-title" style="color:red">
                    <h4>@Titulo</h4>
                </div>
                <div>
                    <button class="btn-sm btn-close" data-bs-dimiss="modal" @onclick="@(()=>Fechar())"></button>
                </div>
            </div>
            <div class="modal-body">
                <h5>@Msg</h5>
            </div>

            <div class="modal-footer">
                <button class="btn-sm btn-danger" @onclick="(()=>Exclui())">@BotaoTrue</button>
                <button class="btn-sm btn-secondary" data-bs-dismiss="modal" @onclick="(()=>Fechar())">Fechar</button>
            </div>
        </div>
    </div>
</div>
@code 
{

    [Parameter] public string Titulo { get; set; } = null!;
    [Parameter] public string Msg { get; set; } = null!;
    [Parameter] public string Mostra { get; set; } = "none";
    [Parameter] public bool Confirma { get; set; } = false;
    [Parameter] public EventCallback EventoRetorno { get; set; }
    [Parameter] public string BotaoTrue { get; set; } = string.Empty;

    public async void Fechar()
    {
        Mostra = "none";
        Confirma = false;
        await FuncaoCalback();
    }

    public async void Exclui()
    {
        Mostra = "none";
        Confirma = true;
        await FuncaoCalback();
    }

    public async Task FuncaoCalback()
    {
        await EventoRetorno.InvokeAsync();
    }
}
