<div class="container justify-content-center" style="border-radius: 3px; color: white; background-color: darkslateblue; height: 40px; display:flex; align-items: center; justify-content: center;">
    <h5>
        <em>
            @Texto
        </em>
    </h5>
</div>

@code {
    [Parameter] public string Texto { get; set; } = string.Empty;

}
