<div class="container justify-content-center" style="color:white; background-color:darkblue; text-align:center">
    <h5>
        <em>
            @Texto
        </em>
    </h5>
</div>


@code {
    [Parameter] public string Texto { get; set; }

}
